<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testCode.dao.ButtonTestDao">

    <resultMap id="BaseResultMap" type="com.example.testCode.entity.ButtonTestDO">
        <id column="ID" jdbcType="VARCHAR" property="id"/> 
        <result column="KEY" jdbcType="VARCHAR" property="key"/> 
        <result column="VALUE" jdbcType="VARCHAR" property="value"/> 
        <result column="IS_DELETED" jdbcType="CHAR" property="isDeleted"/> 
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/> 
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/> 

        
        
    </resultMap>

    <sql id="BaseColumns">
        TP_BUTTON.ID AS ID,
        TP_BUTTON.KEY AS KEY,
        TP_BUTTON.VALUE AS VALUE,
        TP_BUTTON.IS_DELETED AS IS_DELETED,
        TP_BUTTON.CREATE_TIME AS CREATE_TIME,
        TP_BUTTON.UPDATE_TIME AS UPDATE_TIME
    </sql>

    <sql id="buttonTestJoins">
        
    </sql>

    <select id="listByQuery" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns" />
        FROM TP_BUTTON <include refid="buttonTestJoins" />
        <where>

        </where>
    </select>

    <select id="getByPrimaryKey" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns" />
        FROM TP_BUTTON <include refid="buttonTestJoins" />
        <where>
            TP_BUTTON.ID = #{id, jdbcType=VARCHAR}
        </where>
    </select>

    <insert id="insert" parameterType="com.example.testCode.entity.ButtonTestDO">
        INSERT INTO TP_BUTTON
        (ID, KEY, VALUE, IS_DELETED, CREATE_TIME, UPDATE_TIME)
        values
        (#{id,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{isDeleted,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.example.testCode.entity.ButtonTestDO" >
        INSERT INTO TP_BUTTON
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                ID,
            </if>
            <if test="key != null" >
                KEY,
            </if>
            <if test="value != null" >
                VALUE,
            </if>
            <if test="isDeleted != null" >
                IS_DELETED,
            </if>
            <if test="createTime != null" >
                CREATE_TIME,
            </if>
            <if test="updateTime != null" >
                UPDATE_TIME
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="key != null" >
                #{key,jdbcType=VARCHAR},
            </if>
            <if test="value != null" >
                #{value,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null" >
                #{isDeleted,jdbcType=CHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.example.testCode.entity.ButtonTestDO" >
        UPDATE TP_BUTTON
        <set>
            <if test="key != null" >
                KEY = #{key,jdbcType=VARCHAR},
            </if>
            <if test="value != null" >
                VALUE = #{value,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null" >
                IS_DELETED = #{isDeleted,jdbcType=CHAR},
            </if>
            <if test="createTime != null" >
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </set>
        where TP_BUTTON.ID = #{id, jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.example.testCode.entity.ButtonTestDO" >
        UPDATE TP_BUTTON
        SET
            <if test="key != null" >
                KEY = #{key,jdbcType=VARCHAR},
            </if>
            <if test="value != null" >
                VALUE = #{value,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null" >
                IS_DELETED = #{isDeleted,jdbcType=CHAR},
            </if>
            <if test="createTime != null" >
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        WHERE TP_BUTTON.ID = #{id, jdbcType=VARCHAR}
    </update>

    <update id="delete">
        DELETE FROM TP_BUTTON
        WHERE TP_BUTTON.ID = #{id, jdbcType=VARCHAR}
    </update>


</mapper>