<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testCode.dao.UserDao">

    <resultMap id="BaseResultMap" type="com.example.testCode.entity.User">
        <id column="id" jdbcType="VARCHAR2" property="id"/> 
        <result column="username" property="username"/> 
        <result column="password" property="password"/> 
        <result column="departmentId" property="departmentId"/> 
        <result column="departmentName" property="departmentName"/> 
        <result column="isLocked" property="isLocked"/> 
        <result column="isDeleted" property="isDeleted"/> 
        <result column="createTime" property="createTime"/> 
        <result column="updateTime" property="updateTime"/> 

        
        
    </resultMap>

    <sql id="BaseColumns">
        ID",
        USERNAME",
        PASSWORD",
        DEPARTMENT_ID",
        DEPARTMENT_NAME",
        IS_LOCKED",
        IS_DELETED",
        CREATE_TIME",
        UPDATE_TIME"
    </sql>

    <select id="listByQuery" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumns" />
        FROM TP_USER <include refid="userJoins" />
        <where>
        </where>
    </select>




</mapper>